.app {
	position: relative;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;

	.mainContainer {
		position: relative;

		height: 100%;

		opacity: 0;
		animation: fadein 500ms 300ms linear forwards;
	}
}

.fadeEnterActive {
	h1[id="heading"] {
		animation: headEn 800ms linear;
	}

	div[id="wrapMain"] {
		animation: mainEn 800ms linear;
	}
}

.fadeExitActive {
	h1[id="heading"] {
		animation: headEn alternate-reverse 800ms linear forwards;
	}

	div[id="wrapMain"] {
		animation: mainEx 800ms linear forwards;
	}
}

.authEnterActive {
	animation: none !important;

	section {
		animation: auth 500ms linear alternate-reverse !important;
	}

	div {
		animation: logo 500ms linear alternate-reverse !important;
	}
}

.authExitActive {
	animation: fadein 250ms alternate-reverse !important;

	section {
		animation: auth 500ms linear !important;
	}

	div {
		animation: logo 500ms linear !important;
	}
}

@keyframes headEn {
	0% {
		opacity: 0;
		top: -7rem;
	}

	50% {
		opacity: 0;
	}
	100% {
		top: 0rem;
		opacity: 1;
	}
}

@keyframes mainEn {
	0% {
		top: 10rem;
		opacity: 0;
	}

	50% {
		opacity: 0;
	}
	100% {
		top: 6rem;
		opacity: 1;
	}
}

@keyframes mainEx {
	0% {
		top: 6rem;
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
	100% {
		top: 10rem;
		opacity: 0;
	}
}

@keyframes auth {
	from {
		opacity: 1;
		top: 50%;
	}
	to {
		top: 100%;
		opacity: 1;
	}
}

@keyframes logo {
	from {
		opacity: 1;
		top: 15%;
	}
	to {
		opacity: 1;
		top: 80%;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
